RewriteEngine on #On active le rewrite engine
#RewriteRule ^Accueil$ Views/_MainView.php [L]

#règle de redirection generale du site
#mettre la regle d'action depuis la racine, comme /AfficherResto par exemple qui va appeller le controler frontal
RewriteRule ^([a-zA-Z]*)$ Views/_MainView.php?action=$1 [L]

#règle d'action par rapport a un id
RewriteRule ^([a-zA-Z]*)__([1-9][0-9]*)$ Views/_MainView.php?action=$1&id=$2 [L]

#règle pour les actions par rapport à un système de pages
RewriteRule ^([a-zA-Z]*)__Page__([0-9]*)$ Views/_MainView.php?action=$1&limiteBasse=$2 [L]

#règle pour les actions par rapport à un système de departements
RewriteRule ^([a-zA-Z]*)__Departement__([0-9]*)$ Views/_MainView.php?action=$1&departement=$2 [L]


#RewriteRule ^(.*)$ $1
