RewriteEngine on #On active le rewrite engine
RewriteRule ^Views/Accueil$ Views/_MainView.php [L]
RewriteRule ^Views/_Accueil$ Controllers/ViewsController.php?action=Accueil [L]

#RewriteRule ^(.*)$ $1
