/* 
    Document   : btSupprimer
    Created on : 6 juil. 2013, 14:00:10
    Author     : Administrateur
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#modale {
    visibility: hidden;
    position: absolute;
    background-color: white;
    margin: auto auto;
    padding: 2em;
    box-shadow: 1px 1px 8px black;
    border-radius: 4px;
    text-align: center;
    z-index: 99;
}

#supprimer {
    margin-right: 2em;
    margin-left: auto;
}
#btSupprimerNon {
    margin-right: auto;
    margin-left: 2em;
}


#masqueGris {
    visibility: hidden;
    background-color: rgba(60,60,60,0.9);
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}